html, body {
  margin: 0;
  padding: 0;
  background-color:rgb(255, 255, 255);
}
canvas {
  display: block;
}

#Introduction{
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20%;
}
.heading{
  text-align: center;
}
.mainDescription{
  text-indent: 30px;
}
.displaySection{
  scroll-margin-top: 80px;
}
.sketchHeading{
  display: flex;
  justify-content: center;

}
.displaySection{
  margin-bottom: 10%;
}
.Sketch{
  display: flex;
  justify-content: center;
}

.sketchDescription{
  display: block;
  width: 80%;
  margin: 0 auto;
  text-indent: 30px;
}

nav {
  background-color: #333;
  padding: 10px 20px;      
  position: sticky;       
  top: 0;                 
  width: 100%;
  z-index: 1000;          
}

nav ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  display: flex;         
  justify-content: center
}

nav ul li {
  margin-right: 20px;    
}

nav ul li:last-child {
  margin-right: 0;       
}

nav ul li a {
  text-decoration: none;
  color: white;         
  font-size: 18px;       
  padding: 10px 20px;    
  display: block;        
}

nav ul li a:hover {
  background-color: #000000; 
  transition: background-color 0.3s ease;
}

.creators-link{
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.415);         
  font-size: 18px;           
  display: block;  
  padding: 10px 20px;    
   
}
